In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [4]:
import pandas as pd

priori = pd.read_excel('priori/Anexo III rev5 - AFI.xlsx', sheet_name='Afogados')
suap = pd.read_excel('suap/CAFI.xlsx')

print(priori.info())
print(suap.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8355 entries, 0 to 8354
Data columns (total 42 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Unnamed: 0                                    0 non-null      float64
 1   id                                            8355 non-null   int64
 2   numero                                        8333 non-null   float64
 3   num novo                                      247 non-null    float64
 4   Ativo                                         8355 non-null   int64
 5   Descricao                                     8355 non-null   object
 6   Estado do bem                                 8355 non-null   object
 7   Nome do custo                                 8355 non-null   object
 8   Nome Local                                    8355 non-null   object
 9   Local                                         8355 non-null   object
 10  Responsável                                   0 non-null      float64
 11  Status                                        8355 non-null   object
 12  categoria_codigo                              8333 non-null   object
 13  categoria_nome                                8333 non-null   object
 14  conta_contabil_codigo                         8333 non-null   float64
 15  conta_contabil                                8333 non-null   object
 16  status2                                       8333 non-null   object
 17  numeroserie                                   6 non-null      object
 18  descricao2                                    8333 non-null   object
 19  sala                                          7203 non-null   object
 20  sala_predio                                   7203 non-null   object
 21  data_entrada                                  8355 non-null   object
 22  data_da_carga                                 7903 non-null   object
 23  responsavel_atual                             7903 non-null   object
 24  resposavel_setor                              7903 non-null   object
 25  campus_da_carga                               7903 non-null   object
 26  nota_fiscal                                   8209 non-null   object
 27  fornecedor_entrada                            8333 non-null   object
 28  Valor - R$                                    8355 non-null   float64
 29  AAA                                           0 non-null      float64
 30  Ano                                           8355 non-null   int64
 31  Valor Residual (5%) - Mercado                 8355 non-null   float64
 32  Depreciação Mensal                            8333 non-null   object
 33  Depreciação Anual                             0 non-null      float64
 34  Amort/Depre. Calculdada Apurada               8355 non-null   object
 35  Valor Contábil Líquido Apurado                8355 non-null   float64
 36  Taxa Válida MCASP (%)                         8355 non-null   float64
 37  Valor residual - Vida útil (Anos) MCASP       8355 non-null   int64
 38  Valor residual - Vida útil (Anos) MCASP - R$  8355 non-null   float64
 39  Valor Justo                                   8355 non-null   float64
 40  Valor Pesquisa                                8340 non-null   float64
 41  Fonte da Pesquisa                             8340 non-null   object
dtypes: float64(14), int64(4), object(24)
memory usage: 2.7+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9884 entries, 0 to 9883
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             9884 non-null   int64
 1   id                     9884 non-null   int64
 2   numero                 9884 non-null   int64
 3   categoria_codigo       9884 non-null   object
 4   categoria_nome         9884 non-null   object
 5   conta_contabil_codigo  9884 non-null   int64
 6   conta_contabil         9884 non-null   object
 7   status                 9884 non-null   object
 8   numeroserie            9 non-null      object
 9   descricao              9884 non-null   object
 10  sala                   8385 non-null   object
 11  sala_predio            8385 non-null   object
 12  data_entrada           9884 non-null   object
 13  data_da_carga          9884 non-null   object
 14  responsavel_atual      9884 non-null   object
 15  resposavel_setor       9884 non-null   object
 16  campus_da_carga        9884 non-null   object
 17  nota_fiscal            9843 non-null   object
 18  fornecedor_entrada     9884 non-null   object
 19  valor                  9884 non-null   object
dtypes: int64(4), object(16)
memory usage: 1.5+ MB
None