In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [2]:
import pandas as pd
autentica = pd.read_excel('ls.xlsx')
login = str(autentica['login'][0])
senha = str(autentica['senha'][0])

display(autentica)

     login      senha
0  2184579   sis1986%
1  1966990   19891150
2  2184708  andela@78

In [3]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import Select
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.support.ui import Select
import time

def abrir_suap():
    
    global nav
    nav = webdriver.Chrome()
    nav.get("https://suap.ifpe.edu.br/accounts/login/?next=/")
    # inserindo usuário
    nav.find_element_by_xpath('//*[@id="id_username"]').click()
    nav.find_element_by_xpath('//*[@id="id_username"]').send_keys(login)

    # inserindo senha 
    nav.find_element_by_xpath('//*[@id="id_password"]').click()
    nav.find_element_by_xpath('//*[@id="id_password"]').send_keys(senha)

    nav.find_element_by_xpath('//*[@id="ok"]').click()

In [1]:
# nav.get('https://suap.ifpe.edu.br/patrimonio/inventario_busca/?page=1&status=&empenho=&empenho=&data_final=&sala=&numero_serie=&numero=&rotulos=&data_inicial=&estado_conservacao=6&elemento_despesa=&valor=&responsavel=&responsavel=&contabil=&fornecedor=&fornecedor=&setor_responsavel=&campus=12&descricao=')
# nav.get('https://suap.ifpe.edu.br/patrimonio/inventario_busca/?page=1&status=&empenho=&empenho=&data_final=&sala=&numero_serie=&numero=33-37721&rotulos=&data_inicial=&estado_conservacao=6&elemento_despesa=&valor=&responsavel=&responsavel=&contabil=&fornecedor=&fornecedor=&setor_responsavel=&campus=12&descricao=')

# abrir_suap()
df_tabela = pd.DataFrame()
tabela = []
tombos = []
ele_des = []
descricao = []
cargas = []
c_contabil = []
salas = []
dt_entrada = []
valores = []
    
try:
    pag = 1
    saida = True
    while saida:

        nav.get(f'https://suap.ifpe.edu.br/patrimonio/inventario_busca/?page={pag}&status=&empenho=&empenho=&data_final=&sala=&numero_serie=&numero=33-37355&rotulos=&data_inicial=&estado_conservacao=6&elemento_despesa=&valor=&responsavel=&responsavel=&contabil=&fornecedor=&fornecedor=&setor_responsavel=&campus=12&descricao=')
        celula = nav.find_element_by_class_name('row1')

        if celula:
            lista = nav.find_element_by_tag_name('table')
            td = lista.find_elements_by_tag_name('td')

            for i in td:
                tabela.append(i.text)

            pag += 1
        else:
            saida = False
            
except NoSuchElementException:
    print('acabaram as páginas')

    
tabela.pop(0)

for tombo in range(1, len(tabela), 12):
    tombos.append(tabela[tombo])

for ed in range(2, len(tabela), 12):
    ele_des.append(tabela[ed])

for des in range(3, len(tabela), 12):
    descricao.append(tabela[des])
    
for carga in range(4, len(tabela), 12):
    cargas.append(tabela[carga])
    
for c in range(5, len(tabela), 12):
    c_contabil.append(tabela[c])

for sala in range(6, len(tabela), 12):
    salas.append(tabela[sala])
    
for data in range(8, len(tabela), 12):
    dt_entrada.append(tabela[data])
    
for valor in range(11, len(tabela), 12):
    valores.append(tabela[valor])
    



df_tabela['tombo'] = tombos
df_tabela['tombo'] = df_tabela['tombo'].str[:-6]

df_tabela['ed'] = ele_des

df_tabela['descricao'] = descricao

df_tabela['carga'] = cargas

df_tabela['c_contabil'] = c_contabil

df_tabela['dt_entrada'] = dt_entrada

df_tabela['valor'] = valores
df_tabela['valor'] = df_tabela['valor'].str.replace('.','',regex=True)
df_tabela['valor'] = df_tabela['valor'].str.replace(',','.',regex=True)
# df_tabela['valor'] = pd.to_numeric(df_tabela['valor'], downcast='float')


# df_tabela.to_excel('relatorio/relatorio.xlsx', index=False)
display(df_tabela)

NameError: name 'pd' is not defined

In [14]:


display(df_tabela)

,tombo,ed,descricao,carga,c_contabil,dt_entrada,valor
0,33,449052-42,182CREC - BANCO P/DESENHO (FIXO COM 75CM DE AL...,VANESSA RAMOS ALVES (CAFI AFI-DEN),RECIFE,16/06/2010,1.0
1,3842,449052-42,14471CREC - ARMARIO (DE A O PARA ACESSORIOS DE...,Carlos Eduardo Cabral Rodrigues (CAFI AFI-CCBEC),RECIFE,16/06/2010,1.0
2,16809,449052-10,51132CREC - TABELA DE BASQUETEBOL MOVEL (PAR) ...,Ezenildo Emanuel de Lima (CAFI AFI-CODAGR),AFOGADOS DA INGAZEIRA,16/06/2010,1269800.0
3,17274,449052-35,51615CREC - MICROCOMPUTADOR PESSOAL (NOTEBOOK ...,Ezenildo Emanuel de Lima (CAFI AFI-CODAGR),RECIFE,16/06/2010,455300.0
4,27262,449052-52,"43983CPES - VEICULO (FORD,FIESTA1.6 04P.5PAS.A...",Ezenildo Emanuel de Lima (CAFI AFI-CODAGR),AFOGADOS DA INGAZEIRA,16/06/2010,2839740.0
...,...,...,...,...,...,...,...
95,37351,449052-42,ARMÁRIO BAIXO FECHADO conf.especificado no edi...,Maria Marta Souza de Magalhães (CAFI AFI-DEN),AFOGADOS DA INGAZEIRA,28/12/2010,51750.0
96,37352,449052-42,ARMÁRIO BAIXO FECHADO conf.especificado no edi...,Maria Marta Souza de Magalhães (CAFI AFI-DEN),AFOGADOS DA INGAZEIRA,28/12/2010,51750.0
97,37353,449052-42,ARMÁRIO BAIXO FECHADO conf.especificado no edi...,WILLIBALDO JOSE DA COSTA JUNIOR (CAFI AFI-CCLC),AFOGADOS DA INGAZEIRA,28/12/2010,51750.0
98,37354,449052-42,ARMÁRIO BAIXO FECHADO conf.especificado no edi...,WILLIBALDO JOSE DA COSTA JUNIOR (CAFI AFI-CCLC),AFOGADOS DA INGAZEIRA,28/12/2010,51750.0
99,37355,449052-42,ARMÁRIO BAIXO FECHADO conf.especificado no edi...,Carlos Eduardo Cabral Rodrigues (CAFI AFI-CCBEC),AFOGADOS DA INGAZEIRA,28/12/2010,51750.0